body {
  font-family: sans-serif;
  background-image: url("../img/60.-Zircon.jpg");
  background-size: cover;
}

/* Navbar */
.nav-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
}

.nav-wrapper ul li {
  display: inline;
  list-style-type: none;
}

.nav-wrapper ul li a {
  letter-spacing: 0.1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: #6d6060;
}

.nav-wrapper ul li a:hover {
  cursor: pointer;
  color: #eee;
}

.list-item {
  margin-left: 10px;
  text-transform: uppercase;
  padding: 10px;
}

.current a {
  text-decoration: underline !important;
}

.logo img {
  width: 300px;
  border-radius: 50%;
}

.burger-icon {
  display: none;
}

/* Main content */
.main-wrapper {
  max-width: 1200px;
  margin: auto;
}

.wrapper {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "featuredMain featuredMain featuredSub"
    "contentMain contentMain contentSub";
}

.wrapper > .featured,
.wrapper > .sub-featured > div,
.wrapper > .main-content,
.wrapper > .main-sidebar {
  padding: 20px;
}

.featured {
  grid-area: featuredMain;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url("/img/merceria-img.png") center center;
  background-size: cover;
  display: grid;
  align-content: flex-end;
  color: #fff;
}

.main-content,
.featured,
.sub-featured > div,
.main-sidebar {
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.25);
}

.featured h1 {
  font-size: 36px;
  max-width: 650px;
}

.sub-featured {
  grid-area: featuredSub;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.sub-featured h3 {
  margin-top: 0;
  color: #fff;
}

.sub1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url("/img/telas-img.png") center center;
}

.sub2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url("/img/lanas-img.png") center center;
}

.sub3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url("/img/hilos-img.png") center center;
}

.main-content {
  grid-area: contentMain;
  background-color: rgb(255, 255, 255, 0.35);
  color: #444;
  line-height: 1.5em;
}

.main-sidebar {
  grid-area: contentSub;
  background-color: rgb(255, 255, 255, 0.35);
  color: #444;
  line-height: 1.5em;
}

.email-digest-subscription {
  font-size: 1em;
  background-color: #fbfbfb;
  border: #e1e8ed solid 1px;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 50px;
}

/* Footer */
.footer {
  height: 400px;
  display: grid;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)) border-box,
    url("/img/footer-img.jpg") center center;
  color: #fff;
  background-size: cover;
  grid-template-columns:
    minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px)
    minmax(20px, 300px);
  justify-content: center;
  grid-template-rows: 1fr 1fr;
}

.footer > div {
  padding: 20px;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  grid-column: 1/-1;
}

.footer .copyright a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
}

.footer .copyright a:hover {
  cursor: pointer;
  color: #eee;
}

/* TABLET MEDIA QUERY */
@media screen and (max-width: 950px) {
  .wrapper {
    grid-template-areas:
      "featuredMain featuredMain featuredMain"
      "featuredSub featuredSub featuredSub"
      "contentMain contentMain contentSub";
  }
  .nav-wrapper {
    margin-top: 0;
  }
  .sub-featured {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-items {
    grid-column: 1 / 5;
    text-align: center;
  }
  .logo {
    grid-column: 1 / 5;
    text-align: center;
  }
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 690px) {
  .nav-items {
    grid-column: 1 / 5;
    text-align: center;
    height: 0;
    overflow: hidden;
  }
  .nav-wrapper ul {
    padding: 0;
    margin: 0;
  }
  .nav-wrapper ul li {
    display: block;
  }

  .mostrar {
    height: 215px;
  }

  .burger-icon {
    display: inline-block;
    justify-self: end;
    grid-column: 4 / 5;
    border: 2px solid #6d6060;
    color: #6d6060;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
  }
  .burger-icon:hover {
    cursor: pointer;
  }

  .wrapper {
    grid-template-areas:
      "featuredMain featuredMain featuredMain"
      "contentMain contentMain contentMain"
      "featuredSub featuredSub featuredSub"
      "contentSub contentSub contentSub";
  }
  .sub-featured {
    grid-template-columns: 1fr;
  }

  .featured h1 {
    font-size: 30px;
  }

  .footer {
    height: 800px;
  }

  .footer > div {
    grid-column: 1 / -1;
  }
}
